.topbar {
  background: linear-gradient(
    180deg,
    rgba(var(--background), 1) 0%,
    rgba(var(--background), 0) 100%
  );
  color: rgb(var(--foreground));
  @apply fixed top-0 p-6 gap-4 flex flex-row w-screen place-items-center z-20;

  .title {
    color: rgb(var(--foreground));
    font-size: 1.2rem;
    @apply font-medium flex-grow;
    line-clamp: 1;
  }
}
